<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/indexstyle.css' />
    </head>
    <body>
        <h1> ふやせ！ Voiceroid </h1>
        <div class="panel">
            <h2> ストーリー </h2>
            <p> 楽して稼ぎたい！　そう考えた茜ちゃんは30万円の借金をしてマイニングリグを買うのでした。</p>
            <p> ずん子、ゆかり、マキ、葵ちゃんの4人のモチーフの仮想通貨を見つけ、マイニングだけでなくみんなでトレードをすることに。</p>
            <p> 果たして茜ちゃんは借金を返して1千万円の大金を築くことができるのか...!?</p>

            <div class="contents">
                <div id="screenshots">
                    <h2> スクリーンショット</h2>
                    <img class="ss" src="/images/ss.png" />
                </div>
                <div id="others">
                    <h2> Others </h2>
                    <button class="button" onclick="location.href='/score'"> ランキングを見る </button>
                    <button class="button" onclick="window.open('https://itch.io/jam/voiceroid-game-jam/rate/322116', '_blank');">ダウンロードページへ </button>
                    <button class="button" onclick="window.open('https://itch.io/jam/voiceroid-game-jam', 'blank');">ボイロゲームジャム</button>
                </div>
            </div>
        </div>
    </body>
</html>
