body {
    background-image: url("/images/Background.jpg");
    background-size: 100% 104%;
    width: 99%;
    height: 100%;
/*    overflow: hidden;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
    font-size: 1.5em;
    text-align: center;
}

.contents {
    display: flex;
}

#screenshots {
}

#others {
}

.panel {
    background-color: rgba(33, 33, 33, 0.5);
    text-align: center;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.panel table {
    margin: 0 auto;
}

.panel table th {
    width: 20vw;
    height: 4vh;
    font-size: 1.8em;
}

.panel table td {
    width: 20vw;
    height: 7vh;
    color: white;
    font-size: 2em;
}


a {
    color: #00B7FF;
    text-decoration: none;
}

#pagenate {
    width: 20vw;
    display: inline-flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.page-item {
    background: rebeccapurple;
    margin: 9px;
    width: 30px;
    height: 30px;
    font-size: 1.4em;
    text-align: center;
    border-radius: 20%;
    line-height: 30px;
}

.selecting {
    background-color: pink;
}

#pagenate a:link { color: pink;}
#pagenate a:visited { color: pink;}
#pagenate a:hover { color: pink;}
#pagenate a:active{ color: pink;}
